@import 'styles/pokemon-types.module.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.loading-ball svg {
    width: 40px;
    height: 40px;
    cursor: auto;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    display: inline-block;
    rotate: 22.5deg;
}
